<div id="about">
<p>MeetUp is an App designed to help people find each other in crowded locations. It is developed by Imon Stevenson. MeetUp is design with simplicity, performance, and usability in mind. It works across major desktop and mobile platorforms, taking advantage of HTML5 and CSS3 on modern broswers while being accessible on older ones too. We are happy to meet new contributors. If you want to get involved with MeetUp development, checkout it's GitHub.</p>
</div>

